* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.hide {
    display: none;
}


nav {
    border: 1px solid black;
    padding: 20px;
}

.form-container {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 75px;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

input {
    height: 40px;
    font-size: large;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.grade-container {
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    /* padding: 20px; */
    border: 1px solid black;
}

.green-row {
    background-color: rgb(23, 215, 23);
}

.yellow-row {
    background-color: yellow;
}

.blue-row {
    background-color: rgb(153, 153, 245);
}

.orange-row {
    background-color: orange;
}

.red-row {
    background-color: rgb(223, 114, 114);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
}

.error-text {
color: red;
}